.private-chat-wrapper {
    position: absolute;
    bottom: 100%;
    right: 505%;
    width: 400px;
    z-index: 400;
    border-radius: 10px;
    background-color: #333333;
    color: #fff;
}
.private-chat-wrapper:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    background-color: #333;
    width: 15px;
    height: 6px;
}

.threads {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.thread-workspace {
    min-height: 400px;
    padding: 10px 0;
    border-bottom: 2px solid #cecece;
}

.text-message {
    text-align: center;
    border-bottom: 1px solid #cecece;
}

.send-button-wrapper > button {
    padding: 5px 50px;
}


